---
- hosts: 127.0.0.1
  become: yes
  become_user: root
  tasks:
    - name: Check if java is installed
      command: java -version
      register: java_result
      ignore_errors: True
    
    - name: Fetch Java version
      shell: java -version 2>&1 | head -1 | cut -d'"' -f2 | sed '/^1\./s///' | cut -d'.' -f1
      register: java_version

    - file:
        path: /usr/share/org.eclipse.jdt.ls.0.57.0
        state: directory
        recurse: True
        owner: codio
        group: codio
      when: (java_result is failed) or (java_version.stdout is version("11", "<"))

    - name: unarchive jdt ls
      unarchive:
        src: https://s3.amazonaws.com/codio-resources/jdt-language-server-0.57.0-202006172108.tar.gz
        dest: /usr/share/org.eclipse.jdt.ls.0.57.0
        remote_src: True
        creates: /usr/share/org.eclipse.jdt.ls.0.57.0/content.xml
        owner: codio
        group: codio
        extra_opts: ["--no-same-owner"]
      when: (java_result is failed) or (java_version.stdout is version("11", "<"))

    - file:
        path: /usr/share/org.eclipse.jdt.ls.1.12.0
        state: directory
        recurse: True
        owner: codio
        group: codio
      when: (java_result is failed) or (java_version.stdout is version("17", "<") and java_version.stdout is version("11", ">="))

    - name: unarchive jdt ls
      unarchive:
        src: https://s3.amazonaws.com/codio-resources/jdt-language-server-1.12.0-202206011637.tar.gz
        dest: /usr/share/org.eclipse.jdt.ls.1.12.0
        remote_src: True
        creates: /usr/share/org.eclipse.jdt.ls.1.12.0/content.xml
        owner: codio
        group: codio
        extra_opts: ["--no-same-owner"]
      when: (java_result is failed) or (java_version.stdout is version("17", "<") and java_version.stdout is version("11", ">="))

    # - file:
    #     path: /usr/share/org.eclipse.jdt.ls.1.25.0
    #     state: directory
    #     recurse: True
    #     owner: codio
    #     group: codio
    #   when: (java_result is failed) or (java_version.stdout is version("17", ">="))

    # - name: unarchive jdt ls
    #   unarchive:
    #     src: https://s3.amazonaws.com/codio-resources/jdt-language-server-1.25.0-202306291518.tar.gz
    #     dest: /usr/share/org.eclipse.jdt.ls.1.25.0
    #     remote_src: True
    #     creates: /usr/share/org.eclipse.jdt.ls.1.25.0/content.xml
    #     owner: codio
    #     group: codio
    #     extra_opts: ["--no-same-owner"]
    #   when: (java_result is failed) or (java_version.stdout is version("17", ">="))

    - file:
        path: /usr/share/org.eclipse.jdt.ls.1.48.0
        state: directory
        recurse: True
        owner: codio
        group: codio
      when: (java_result is failed) or (java_version.stdout is version("17", ">="))

    - name: unarchive jdt ls
      unarchive:
        src: https://s3.amazonaws.com/codio-resources/jdt-language-server-1.48.0-202506271502.tar.gz
        dest: /usr/share/org.eclipse.jdt.ls.1.48.0
        remote_src: True
        creates: /usr/share/org.eclipse.jdt.ls.1.48.0/content.xml
        owner: codio
        group: codio
        extra_opts: ["--no-same-owner"]
      when: (java_result is failed) or (java_version.stdout is version("17", ">="))
