[Service]
User = codio
Group = codio
ExecStartPre = cp /opt/novnc/noVNC-master/vnc_lite.html /opt/novnc/noVNC-master/index.html
ExecStart = websockify --heartbeat 20 --web /opt/novnc/noVNC-master 3000 localhost:5900
Restart=always
RestartSec=5s

[Unit]
Description = X11VNC
After = x11vnc.service

[Install]
WantedBy = multi-user.target
