[Service]
User = root
Group = root
ExecStart = /usr/share/codio-tools/govnc
Restart=always
RestartSec=5s

[Unit]
Description = NO VNC
After = vnc.service
Requires = vnc.service

[Install]
WantedBy = multi-user.target
