[Service]
User = codio
Group = codio
ExecStart = /usr/bin/xvfb-run --auth-file=/tmp/codio.auth --server-args="-screen 0 1328x768x24 -ac +extension GLX" --server-num=0 openbox
Restart=always
RestartSec=5s

[Unit]
Description = Openbox

[Install]
WantedBy = multi-user.target
