[Service]
User = codio
Group = codio
Type=forking
ExecStart = /usr/bin/vncserver :0  -verbose -SecurityTypes None -auth /tmp/codio.auth -xstartup /usr/bin/openbox
ExecStop = /usr/bin/vncserver -kill :*
ExecStartPre=-/usr/bin/vncserver -kill :* > /dev/null 2>&1
Restart=always
RestartSec=5s

[Unit]
Description = Codio xdesktop

[Install]
WantedBy = multi-user.target
