---
- hosts: 127.0.0.1
  become: yes
  become_user: root
  tasks:
    - apt: update_cache=yes
    - apt: name=xvfb state=present
    - apt: name=x11vnc state=absent
    - apt: name=openbox state=present
    - apt: name=tigervnc-standalone-server state=present
    - apt: name=python3-pip state=present
    - apt: name=python3-numpy state=present
    - apt: name=xterm state=absent

    - stat: path=/opt/novnc/noVNC-master
      register: novnc

    - name: Creates novnc directory
      file: path=/opt/novnc state=directory

    - name: Download novnc
      shell: curl -fsSL https://github.com/novnc/noVNC/archive/v1.3.0.tar.gz | tar zxf - -C /opt/novnc && rm -rf /opt/novnc/noVNC-master ; mv /opt/novnc/noVNC-1.3.0 /opt/novnc/noVNC-master

# remove old services
    - name: Systemd for openbox
      file: path=/etc/systemd/system/openbox.service state=absent

    - name: Systemd for x11vnc
      file: path=/etc/systemd/system/x11vnc.service state=absent

    - name: Systemd for novnc-3000
      file: path=/etc/systemd/system/novnc-3000.service state=absent

    - file: path=/etc/init/novnc.conf state=absent
# end

    - name: Systemd for novnc
      copy: src=novnc.service dest=/etc/systemd/system/novnc.service

    - name: Systemd for vnc
      copy: src=vnc.service dest=/etc/systemd/system/vnc.service

    - copy: src=codio-xserver.sh dest=/etc/profile.d/codio-xserver.sh
    - copy: src=rc.xml dest=/etc/xdg/openbox/rc.xml
    - copy: src=index.html dest=/opt/novnc/noVNC-master/index.html

    - name: vnc restarted
      systemd:
        enabled: yes
        state: restarted
        daemon_reload: yes
        name: vnc
    - name: novnc restarted
      systemd:
        enabled: yes
        state: restarted
        daemon_reload: yes
        name: novnc

    - name: Install commentjson
      pip:
        name: commentjson
        executable: pip3
        state: present
    - name: Put Virtual Desktop to the preview targets
      add_preview_to_codio:
    - name: Restore .codio permissions
      file:
        path: /home/codio/workspace/.codio
        owner: codio
        group: codio

    - name: Restart Instructions
      debug:
        msg: 
          - "******************************************************************************************************"
          - "*    YOU MUST NOW RESTART YOUR BOX FROM THE MENU Project-Restart Box.                                *" 
          - "******************************************************************************************************"
          - "" 
          - "INFO: Access to the desktop uses 3050 port, use {%raw%}{{domain3050}}{%endraw%}!" 
          - "" 
          - "A Virtual Desktop item has been added automatically to the Preview menu in the menu bar above to allow you access X-server."
          - "For more information on this see https://docs.codio.com/common/develop/ide/boxes/installsw/gui.html"
