---
- hosts: 127.0.0.1
  sudo: true
  tasks:
    - apt: update_cache=yes
    - apt: name=xvfb state=present
    - apt: name=x11vnc state=present
    - apt: name=openbox state=present
    - apt: name=python-virtualenv state=present
    - apt: name=python3-dev state=present
    - apt: name=python3-pip state=present
    - apt: name=python3-venv state=present
    - apt: name=python3-numpy state=present
    - name: Create virtualenv
      command:
        cmd: /usr/bin/python3 -m venv /opt/websockify-env
    - name: Install websockify
      pip:
        name: websockify
        state: present
        virtualenv: /opt/websockify-env
        virtualenv_python: python3
    - apt: name=xterm state=absent
    - stat: path=/opt/novnc/noVNC-master
      register: novnc
    - name: Creates novnc directory
      file: path=/opt/novnc state=directory
    - name: Download novnc
      shell: curl -fsSL https://github.com/novnc/noVNC/archive/v1.0.0.tar.gz | tar zxf - -C /opt/novnc && rm -rf /opt/novnc/noVNC-master ; mv /opt/novnc/noVNC-1.0.0 /opt/novnc/noVNC-master

    - name: Upstart for openbox
      copy: src=openbox.conf dest=/etc/init/openbox.conf
      when: ansible_distribution_version == "14.04"
    - name: Upstart for x11vnc
      copy: src=x11vnc.conf dest=/etc/init/x11vnc.conf
      when: ansible_distribution_version == "14.04"
    - name: Upstart for novnc-3000
      copy: src=novnc-3000.conf dest=/etc/init/novnc-3000.conf
      when: ansible_distribution_version == "14.04"

    - name: Systemd for openbox
      copy: src=openbox.service dest=/etc/systemd/system/openbox.service
      when: ansible_distribution_version >= "16.04"
    - name: Systemd for x11vnc
      copy: src=x11vnc.service dest=/etc/systemd/system/x11vnc.service
      when: ansible_distribution_version >= "16.04"
    - name: Systemd for novnc-3000
      copy: src=novnc-3000.service dest=/etc/systemd/system/novnc-3000.service
      when: ansible_distribution_version >= "16.04"

    - file: path=/etc/init/novnc.conf state=absent
    - copy: src=codio-xserver.sh dest=/etc/profile.d/codio-xserver.sh
    - copy: src=rc.xml dest=/etc/xdg/openbox/rc.xml
    - name: Install commentjson
      pip:
        name: commentjson
        executable: pip3
        state: present
    - name: Put Virtual Desktop to the preview targets
      add_preview_to_codio:
    - name: Restore .codio permissions
      file:
        path: /home/codio/workspace/.codio
        owner: codio
        group: codio

    - name: openbox restarted
      systemd:
        enabled: yes
        state: restarted
        daemon_reload: yes
        name: openbox
      when: ansible_distribution_version >= "16.04"
    - name: x11vnc restarted
      systemd:
        enabled: yes
        state: restarted
        daemon_reload: yes
        name: x11vnc
      when: ansible_distribution_version >= "16.04"
    - name: novnc-3000 restarted
      systemd:
        enabled: yes
        state: restarted
        daemon_reload: yes
        name: novnc-3000
      when: ansible_distribution_version >= "16.04"