---
- hosts: 127.0.0.1
  become: true
  tasks:
    - apt: name=python state=present
    - apt: name=python-dev state=present
    - apt: name=python-pip state=present

    - name: Install pyodbc
      become_user: codio
      pip:
        name: pyodbc

    - name: Creates directory
      become_user: codio
      file:
        path: /home/codio/workspace/.guides/scripts
        state: directory

    - copy: src=helper_mssql.py dest=/home/codio/workspace/.guides/scripts/helper_mssql.py mode=a+wx
      become_user: codio
