---
- name: Install MariaDB
  hosts: 127.0.0.1
  become: True
  become_user: root
  tasks:
    - name: Install MariaDB
      apt:
        pkg:
        - mariadb-server
        - mariadb-client
      when: ansible_facts['distribution_major_version'] | int >= 22
    
    - apt: name=python-mysqldb
      when: ansible_facts['distribution_major_version'] | int < 22
    
    - apt: name=python3-mysqldb
      when: ansible_facts['distribution_major_version'] | int >= 22

    - name: Count files in /var/lib/mysql
      find: path=/var/lib/mysql patterns='*'
      register: db_files

    - name: Set root user password
      mysql_user:
        login_user: root
        login_password: codio
        user: root
        check_implicit_admin: true
        password: codio

    - name: Set codio user password
      mysql_user:
        name: codio
        password: codio
        login_user: root
        login_password: codio
        priv: '*.*:ALL'

    - name: update root user
      shell: mysql -e "SET PASSWORD FOR 'root'@'localhost' = PASSWORD('codio');" --user="root" --password="codio"
      become: true
      become_user: root

    - name: restart MariaDB
      systemd:
        state: restarted
        daemon_reload: yes
        name: mariadb.service

    - copy: src=my.cnf dest=/home/codio/.my.cnf
    - name: Instructions
      debug:
        msg: 
        - "Mysql password root user password is 'codio'"
