---
- hosts: 127.0.0.1
  become: true
  tasks:
    - apt: name=python state=present
    - apt: name=python-dev state=present
    - apt: name=python-pip state=present

    - name: Install libpq-dev
      apt:
        name:
          - libpq-dev
        state: present
        update_cache: yes

    - name: Install psycopg2
      become_user: codio
      pip:
        name: psycopg2

    - name: Creates directory
      file:
        path: /home/codio/workspace/.guides/scripts
        state: directory

    - copy: src=helper_postgres.py dest=/home/codio/workspace/.guides/scripts/helper_postgres.py mode=a+wx
