---
- hosts: 127.0.0.1
  become: yes
  become_user: root
  tasks:

    - name: "Install Jupyter Codio extension"
      command: /usr/share/codio-tools/jupyter-codio-extension/scripts/installer/jupyter-codio-extension-installer
      become: yes
      become_user: codio
      become_method: su
      become_flags: -l