---
- hosts: 127.0.0.1
  become: yes
  become_user: root
  tasks:
    - apt: update_cache=yes
    - apt: name=ca-certificates state=latest
    - apt: name=apt-transport-https state=present
    
    - name: Add nodesource repository
      shell: curl -sL https://deb.nodesource.com/setup_16.x | bash -

    - apt: update_cache=yes
    - apt: name=nodejs state=present

    - name: Install nodejs
      apt: name=nodejs state=latest

    - name: Add repo for opam
      apt_repository:
        repo: 'ppa:avsm/ppa'
        update_cache: yes
      when: ansible_facts['distribution_major_version'] | int < 22

    - name: Install opam deps
      apt:
        state: installed
        name:
          - ocaml
          - ocaml-native-compilers
          - camlp4-extra
          - opam=1.2.2-6
          - m4
          - build-essential

    - copy: src=opam.sh dest=/tmp/opam.sh mode="u+xrw,g+x,o+x"

    - name: "Install OCaml Deps"
      command: /tmp/opam.sh
      become: yes
      become_user: codio
      become_method: su
      become_flags: -l

    - file: path=/tmp/opam.sh state=absent

    - file: path=/usr/share/ocaml-language-server state=directory

    - name: Unarchive a file that needs to be downloaded (added in 2.0)
      unarchive:
        src: https://global.codio.com/utils/ocaml-language-server-1.0.21.zip
        dest: /usr/share/ocaml-language-server
        remote_src: yes

    - name: Copy startup script
      copy:
        dest: /usr/share/ocaml-language-server/start-lsp.sh
        content: |
          #!/usr/bin/env sh

          /usr/bin/node /usr/share/ocaml-language-server/bin/server $@ > /tmp/lsp.log 2>&1
        owner: root
        group: root
        mode: '0755'

    - file:
        path: /usr/share/ocaml-language-server
        state: directory
        recurse: True
        owner: codio
        group: codio
