[Unit]
Description=RStudio Server for Codio
Wants=network-online.target
After=network-online.target

[Service]
Type=simple
User=codio
Group=codio
WorkingDirectory=/home/codio/workspace
ExecStartPre=/bin/rm -rf /home/codio/.rstudio/sessions/active
ExecStart=/usr/lib/rstudio-server/bin/rserver --server-daemonize=0 --auth-none=1 --server-user=codio --server-pid-file=/tmp/rstudio.pid --server-data-dir=/home/codio/rserver/
#ExecStop=/usr/bin/killall -TERM rserver
#KillMode=none
Restart=on-failure

[Install]
WantedBy=multi-user.target